body {
    background-color: #e8f5e9; /* Fundo verde claro */
    color: #2d6a4f; /* Cor do texto em verde escuro */
    font-family: Arial, sans-serif; /* Fonte padrão */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo da página */
}

/* Estilo da imagem */
img {
    width: 300px; /* Define o tamanho da imagem */
    height: 300px; /* Define o tamanho da imagem */
    border-radius: 50%; /* Imagem em formato circular */
    border: 2px solid #4caf50; /* Borda verde */
    margin: 20px 0; /* Espaçamento superior e inferior */
}

/* Aumentando o tamanho do título */
h1 {
    color: #388e3c; /* Cor verde para o título */
    font-size: 2.5em; /* Ajuste o tamanho da fonte conforme desejado */
}

/* Aumentando o tamanho dos parágrafos */
p {
    margin: 10px 0; /* Espaçamento entre os parágrafos */
    font-size: 1.3em; /* Ajuste o tamanho da fonte conforme desejado */
    color: #388e3c; /* Cor verde para os parágrafos */
}

/* Estilo do container */
.container {
    border: 1px solid #4caf50; /* Borda verde */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-top: 20px; /* Margem superior */
    background-color: #ffffff; /* Fundo branco para o container */
}

/* Estilo do texto centralizado */
.text-center {
    text-align: center; /* Centraliza o texto */
    color: #2d6a4f; /* Cor verde escuro para o texto centralizado */
}

/* CSS para o quadrado do carrossel */
.carousel-container {
    border: 2px solid #4caf50; /* Borda verde */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Para esconder os itens que saem do quadrado */
    margin-top: 20px; /* Margem superior */
    padding: 10px;
}

/* Estilo para ícones de plantas */
.plant-icon {
    font-size: 40px;
    color: #388e3c; /* Cor verde para ícones de plantas */
    margin: 15px;
}

/* Estilo para cards de plantas */
.plant-card {
    background-color: #ffffff; /* Fundo branco */
    border: 1px solid #4caf50; /* Borda verde */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px;
    text-align: center;
    margin: 15px;
    width: 200px;
    display: inline-block;
}

/* Títulos nos cards de plantas */
.plant-card h3 {
    color: #388e3c; /* Cor verde escuro para o título dos cards */
}

/* Descrição nos cards de plantas */
.plant-card p {
    color: #4caf50; /* Cor verde mais clara para o texto */
}